<script type="text/javascript">
/*
var funcr=function(){
    var offsetLeft=$("#contentPage").offset();
    var offsetTop=$("#adv").offset();
    if(offsetTop!=null && offsetTop.top!=null){
    	var top=offsetTop.top;
    	var left=offsetLeft.left-10;
    	$("#advImgA").css("position","absolute");
    	$("#advImgA").css("left",left);
    	$("#advImgA").css("top",top);
    }
};
$(window).load(funcr);
$(window).resize(funcr);
*/
</script>
<div class="row">
<div class="fourcol2 adv_bg" >
<h1>Upload Your photos!</h1>
It's easy, quick and free. Use Your computer or mobile devices, and You can have all Your photos at one place, organized and easy to find. All You need is to sign up and adventure begins!
</div>
<div class="displayDesktop threecol2 adv_bg" >
<img src="/img/mobile.png" style="float:left;width:220px;margin-top:20px;margin-right:20px;" />
</div>

<div class="hightAuto fourcol2 adv_bg" style="background-image: url(/img/wallet.png);">
<h1>Your own portfolio site!</h1>
All You need is photos, organized in albums, and You can get Your own site immediately. You can choose the site name, define its content and control its protection (password, publicity). It's Your own story, Your own way!
</div>
<div class="hightAuto sixcol2 adv_bg" style="background-image: url(/img/hands.png);">
<h1>Share Your photos!</h1>
Your photos get a new life if You share them with others. You can do it in public albums, or privatly, even password protection is available. Or use just a link to insert anywhere!
</div>
<div class="width100 sixcol2 adv_bg" style="background-image: url(/img/cloud.png);">
<h1>Storyteller!</h1>
A new experience! Tell the story not only with photos, but even descriptions. It can be Your blog, about a place, a journey or adventure. Let it be a wonderful experience for others too!
</div>
</div>
<!--
	
<h1>myFotoRoom.com fotótár</h1>
<div class="advertisment" >
A myFotoRoom ingyenes képfeltöltő és megosztó oldal, amely könnyen kezelhető akár mobiltelefonról vagy táblagépről is.
Képeidet albumokba rendezheted, amelyek lehetnek publikusak vagy privátak, albumaidból saját weboldalt (portfólió) hozhatsz létre.
<br>
<ul class="mainadv">
<li>15 GB ingyen tárhelyet biztosítunk képeid számára</li>
<li>a fotóalbumokat megoszthatod emailben, vagy publikussá teheted</li>
<li>néhány perc alatt ingyenes portfólió oldalt készíthetsz</li>
<li>képeidnek blogszerű megjelenítést is választhatsz</li>
<li>megőrizzük a képek eredeti méretét</li>
<li>oldalunk mobil és tablet kompatibilis</li>
</ul> 
--> 

</div>