<script type="text/javascript">
/*
var funcr=function(){
    var offsetLeft=$("#contentPage").offset();
    var offsetTop=$("#adv").offset();
    if(offsetTop!=null && offsetTop.top!=null){
    	var top=offsetTop.top;
    	var left=offsetLeft.left-10;
    	$("#advImgA").css("position","absolute");
    	$("#advImgA").css("left",left);
    	$("#advImgA").css("top",top);
    }
};
$(window).load(funcr);
$(window).resize(funcr);
*/
</script>
<div class="row">
<div class="fourcol2 adv_bg" >
<h1>Töltsd fel képeidet!</h1>
Képfeltöltés mobilodról vagy asztali gépedről. Egyszerű, gyors, és ingyenes. <a class="detail-link" href="_signup">Tovább a regisztációhoz...</a> 
</div>
<div class="displayDesktop threecol2 adv_bg" >
<img src="/img/mobile.png" style="float:left;width:200px;margin-top:20px;margin-right:20px;padding:5px;" />
</div>
<div class="width100 fourcol2 adv_bg" style="background-image: url(/img/hands.png);">
<h1>Oszd meg!</h1>
Online fotóalbumaidat privátba elküldheted másoknak, publikussá teheted vagy linket generálhatsz direkt hozzáféréshez. <a class="detail-link" href="_signup">Itt regisztrálhatsz!</a>
</div>
<div class="fourcol2 adv_bg" style="background-image: url(/img/wallet.png);">
<h1>Saját fotó oldal!</h1>
Albumaidból saját weboldalt készíthetsz pár perc alatt. Lehet publikus vagy jelszóval védett! <a class="detail-link" href="_signup">Elkészítem saját oldalam!</a>
</div>
<div class="displayDesktop threecol2 adv_bg" >
<img src="/img/portfolios/0.png" class="light-box-shadow" >
</div>


<div class="width100 fourcol2 adv_bg" style="background-image: url(/img/cloud.png);">
<h1>Élményszerű!</h1>
Adj meg leírást a képekhez. Legyen ez a te blogod az eseményről, helyről, utazásról. Kép és szöveg kiegészítik egymást! <a class="detail-link" href="_signup">Tovább a regisztációhoz...</a>
</div>
</div>
<!--
	
<h1>myFotoRoom.com fotótár</h1>
<div class="advertisment" >
A myFotoRoom ingyenes képfeltöltő és megosztó oldal, amely könnyen kezelhető akár mobiltelefonról vagy táblagépről is.
Képeidet albumokba rendezheted, amelyek lehetnek publikusak vagy privátak, albumaidból saját weboldalt (portfólió) hozhatsz létre.
<br>
<ul class="mainadv">
<li>15 GB ingyen tárhelyet biztosítunk képeid számára</li>
<li>a fotóalbumokat megoszthatod emailben, vagy publikussá teheted</li>
<li>néhány perc alatt ingyenes portfólió oldalt készíthetsz</li>
<li>képeidnek blogszerű megjelenítést is választhatsz</li>
<li>megőrizzük a képek eredeti méretét</li>
<li>oldalunk mobil és tablet kompatibilis</li>
</ul> 
--> 

</div>