#if($language.equals("HU"))
Kedves $!user.getName()!<br>
<br>
Az Ön új myFotoRoom.com - jelszava: $!password<br>
<br>
Lépjen be új jelszavával: <a href="http://myfotoroom.com/">http://myfotoroom.com/</a><br>
<br>
<br>
Üdvözlettel,<br>
a fejlesztő csapat<br>
#else
Dear $!user.getName()!<br>
<br>
Your new password in myFotoRoom.com is: $!password<br>
<br>
Please login with your new password: <a href="http://myfotoroom.com/">http://myfotoroom.com/</a><br>
<br>
<br>
Kind regards,<br>
the developer team<br>
#end