@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: local('Squada One'), local('SquadaOne-Regular'), url(/css/fonts/squada-one/squada-one_ha.woff) format('woff');
}