@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url(/css/fonts/gentium/normal_light.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Book Basic Bold'), local('GentiumBookBasic-Bold'), url(/css/fonts/gentium/normal_bold.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Book Basic Italic'), local('GentiumBookBasic-Italic'), url(/css/fonts/gentium/italic_light.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: 700;
  src: local('Gentium Book Basic Bold Italic'), local('GentiumBookBasic-BoldItalic'), url(/css/fonts/gentium/normal_bold.woff) format('woff');
}