.link1{
	display:inline-block;
	padding: 5px 10px;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
	
	height: 29px;
	line-height: 29px;
	padding-bottom: 0px;
	padding-top: 0px;

}

/** COLORS **/
.link1{
	border: 1px solid #3079ED;	
	background: #4D90FE;	
}
.link1:hover{
	border: 1px solid #418AFE;
	background: #5EA1FF;
}
.link1:active{
	border-top-color: #696969;
	background: #696969;
}
	
.link1 img {
	margin-bottom: 3px;
}


