<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="OTHER" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias alias="MCategory"
			type="org.mfr.mybatis.types.MCategory" />
		<typeAlias alias="MPhoto"
			type="org.mfr.mybatis.types.MPhoto" />			
	</typeAliases>


	<typeHandlers>
		<package name="com.manniwood.mmpt.typehandlers" />
	</typeHandlers>

<!-- 	<plugins> -->
<!-- 		<plugin interceptor="com.qumla.service.impl.MyBatisQueryInterceptor" /> -->
<!-- 	</plugins> -->


	<!-- <mappers> <mapper resource="eu/dorsum/webtrader/domain/mybatis/ClientService.xml" 
		/> </mappers> -->

</configuration>


