<tr><td colspan="3" height="20"><img src="cid:t.png" width="1" height="20" border="0" style="display:block" alt=""></td></tr>
<tr>
<td bgcolor="#eeeeee" width="20"><img src="cid:t.png" width="20" height="1" border="0" style="display:block" alt=""></td>
<td bgcolor="#eeeeee" style="font-family:arial;font-size:11px;color:#666666">
Share your photos quick and secure. <a href="http://myfotoroom.com" style="color:#04A5FD;" alt="http://myfotoroom.com">Click here.</a>
<br>
Are you a professional or a hobby photographer? You can make your own photo site. <a href="http://myfotoroom.com" alt="http://myfotoroom.com" style="color:#04A5FD;">Click here.</a>
</td>
<td bgcolor="#eeeeee" width="20"><img src="cid:t.png" width="20" height="1" border="0" style="display:block" alt=""></td>
</tr>
<tr>
<td bgcolor="#eeeeee" width="20"><img src="cid:t.png" width="20" height="1" border="0" style="display:block" alt=""></td>
<td bgcolor="#eeeeee" style="font-family:arial;font-size:11px;color:#04A5FD">
<a href="http://myfotoroom.com" style="color:#04A5FD;" alt="http://myfotoroom.com"><img src="cid:myfotoroomlogo.png" alt="myFotoRoom.com" style="width:130px;padding-top:10px;"></a>
</td>
<td bgcolor="#eeeeee" width="20"><img src="cid:t.png" width="20" height="1" border="0" style="display:block" alt=""></td>
</tr>
<tr><td colspan="3" height="20"><img src="cid:t.png" width="1" height="20" border="0" style="display:block" alt=""></td></tr>