body, a{
	color:#666562;
}
body{
	background-color: white;
}


#Gallery {
	max-width:965px;
	margin:auto;
	margin-top:40px;
}
#Gallery div.segment-container{
	max-width:580px;
	margin:auto;
}
#Gallery div.segment-container-header{
	max-width:580px;
	margin:auto;
	font-weight: bold;
}


#Gallery img{
	max-width:580px;
	max-height:481px;
	margin:auto;
	
	-moz-box-shadow:1px 1px 3px 2px rgba(200, 200, 200, 0.3);
	-webkit-box-shadow:1px 1px 3px 2px rgba(200, 200, 200, 0.3);
	box-shadow:1px 1px 3px 2px rgba(200, 200, 200, 0.3);
}
#Gallery div.image-container{
	margin:auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}
#Gallery p.image-detail{
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}
#Gallery p.image-name{
	font-weight: bold;
	text-align: left;
}
